@import "tailwindcss";

:root {
  --background: #F8F8FB;
  --foreground: #1a1a2e;
}

body {
  background: var(--background);
  color: var(--foreground);
}

* {
  box-sizing: border-box;
}

input[type="range"] {
  height: 4px;
  cursor: pointer;
}
